# --[ HTTP SERVER CONFIG ]--
#
# (Optional) Host address to bind to.
# Default: 0.0.0.0 (bind to all IPv4 interfaces)
#SERVER_HOST="0.0.0.0"
#
# (Optional) Host port to bind to.
# Default: 8080
#SERVER_PORT="8080"

# --[ YTDLP CONFIG ]--
# yt-dlp is used to resolve the urls
#
# (Optional) Path to yt-dlp binary.
# Default: yt-dlp (assumes the yt-dlp binary is globally accessible)
#YTDLP_CMD="yt-dlp"
#
# (Optional) Timeout for yt-dlp requests
# Default: 15s
#YTDLP_TMO="15s"
#
# (Optional) Maximum number of concurrent yt-dlp processes per request
# Default: 2
#YTDLP_MCP="2" 

# -- [ REDIS CONFIG ]--
# Redis is used to cache resolved urls to reduce calls to external services.
#
# (Optional) Redis server address
# Default: localhost:6379
#REDIS_ADR="localhost:6379"
#
# (Optional) Redis username
# Default: default
#REDIS_USR=""
#
# (Optional) Redis password
# Default: <empty>
#REDIS_PWD=""
#
# (Optional) Cache time-to-live
# Default: 6h
#CACHE_TTL="6h"
